* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  height: 5000px;
  --font-family1: 'Anton', sans-serif;
  --font-family2: 'Space Grotesk', sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-family1);
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  color: #F9EF23;
  font-size: 4.625rem;
  line-height: 1;
}

p,
span {
  font-family: var(--font-family2);
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: initial;
  letter-spacing: 0.6px;
  font-family: var(--font-family1);
  font-weight: 400;
  font-size: 1.125rem;
}

ul,
li {
  list-style: none;
}

/* HEADER */

.header-bg {
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */

.logo {
  max-width: 260px;
}

/* MENU */

.menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu a {
  color: #fff;
  padding: 10px 30px 10px 5px;
  border-bottom: 1px solid transparent;
}

/* HOME */

.home-bg {
  background-image: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url(../img/bg-image1-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;

  min-height: 100vh;
  padding: 0px calc((100% - 990px)/2);

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home {
  padding: 150px 10px;
  max-width: 85%;
}

.home h1 {
  color: #fff;
  font-size: 7.5rem;
  line-height: 1;
  margin-bottom: 10px;
}

.home p {
  color: #fff;
  font-size: 1.8525rem;
  line-height: 1.1;
  margin-bottom: 50px;
}

.home a {
  background-color: #F9EF23;
  font-size: 1.8525rem;
  padding: 25px 90px;
  opacity: 0.5;
}

.home a:hover,
.home a:focus {
  opacity: 1;
  transition: 0.3s;
}

@media (max-width: 790px) {
  .home {
    padding-bottom: 50px;
  }

  .home h1 {
    font-size: 5.5rem;
    line-height: 1;
  }

  .home p {
    font-size: 1.5rem;
    line-height: 1.1;
  }

  .home a {
    background-color: #F9EF23;
    font-size: 1.1rem;
    padding: 25px 90px;
    opacity: 0.5;
  }
}

/* DEPOIMENTOS */

.depoimentos-bg {
  background-color: #141414;
  padding: 100px 0;
  position: relative;
}

.depoimentos-bg h2 {
  text-align: center;
  margin-bottom: 50px;
}

.depoimentos {
  max-width: 980px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.depoimentos div {
  flex: 0 1 307px;
  min-height: 377px;
  margin: 0px 15px 15px 0px;
  position: relative;
}

.depoimentos section {
  background-color: #F9EF23;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: #141414;
}

.depoimentos p {
  margin-bottom: 10px;
}

.depoimentos span {
  text-align: right;
  font-style: italic;
}

.depoimentos div:nth-child(1) {
  background-image: url(../img/depoimento1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.depoimentos div:nth-child(2) {
  background-image: url(../img/depoimento2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.depoimentos div:nth-child(3) {
  background-image: url(../img/depoimento3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.depoimentos-bg::after {
  display: block;
  content: "";
  background-color: #F9EF23;
  height: 1px;
  width: 50%;
  position: absolute;
  bottom: 20px;
  left: 25%;
}

/* SERVIÇOS */

.servicos-bg {
  background-color: #141414;
  padding: 100px 0;
  position: relative;
}

.servicos-bg h2 {
  text-align: center;
  margin-bottom: 50px;
}

.servicos {
  max-width: 980px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.servicos div {
  flex: 0 1 307px;
  min-height: 377px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 15px 15px 0px;
  position: relative;
}

.servicos h3 {
  color: #fff;
  font-size: 1.8125rem;
}

.servicos div:nth-child(1) {
  background-image: url(../img/servico1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.servicos div:nth-child(2) {
  background-image: url(../img/servico2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.servicos div:nth-child(3) {
  background-image: url(../img/servico3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* PLANOS */

.planos-bg {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/bg-image2-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;

  min-height: 100vh;

  padding: 100px 0;

}

.planos-bg h2 {
  text-align: center;
  margin-bottom: 50px;
}

.planos {
  max-width: 980px;
  margin: 0 auto;

  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.planos div {
  flex: 0 1 307px;
  margin: 0px 15px 15px 0px;
  padding: 5px 20px 20px 20px;
  background-color: #141414;
  opacity: .95;
}

.planos h3 {
  text-align: center;
  color: #fff;
  font-size: 2.875rem;
  padding-bottom: 15px;
  border-bottom: 1px solid #F9EF23;
}

.preco {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #F9EF23;
  width: 100%;
}

.preco span,
.preco h4 {
  color: #fff;
  font-family: var(--font-family1);
  letter-spacing: 0.6px;
  font-weight: 400;
}

.preco h4 {
  font-size: 4.625rem;
}

.preco span {
  font-size: 2.875rem;
}

.planos ul {
  padding-top: 5px;
}

.planos li {
  color: #fff;
  font-size: 1.125rem;
  font-family: var(--font-family2);
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.planos a {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F9EF23;
  font-size: 1.125rem;
  padding: 15px 20px;
  opacity: 0.5;
  text-align: center;
}

.planos a:hover,
.planos a:focus {
  opacity: 1;
  transition: 0.3s;
}

/* QUEM SOMOS */

.quem-somos-bg {
  background-color: #141414;
  padding: 100px 0;
  position: relative;
}

.quem-somos {
  max-width: 990px;
  margin: 0 auto;
  flex-wrap: wrap;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.quem-somos div {
  flex: 0 1 307px;
  margin: 0px 15px 15px 0px;
}

.quem-somos div:nth-child(1) {
  align-self: center;
}

.quem-somos div:nth-child(1) h2 {
  text-align: left;
  margin-bottom: 20px;
}

.quem-somos div:nth-child(1) p {
  color: #fff;
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.quem-somos div:nth-child(1) a {
  color: #fff;
  font-size: 1.125rem;
}

.quem-somos div:nth-child(2) {
  align-self: flex-start;
}

.quem-somos div:nth-child(3) {
  align-self: flex-end;
}